body{
    background-image: url(assets/img/sfondo.png);
}

.container{
    display: block;
}

header{
    background-color: rgb(2, 76, 82);
    text-align: center;
}

main{
    background-color: white;
}

footer{
    color: white;
    background-color: rgb(2, 76, 82);
    text-align: center;
}